/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v11/1Ptgg87LROyAm3Kz-Co.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v4/7cHpv4kjgoGqM7E_DMs8.ttf) format('truetype');
}
.row-between {
  display: flex;
  justify-content: space-between;
}
.topic {
  background-color: #8B0000;
  color: white;
  font-family: 'Anton', sans-serif;
}
h1,
h2,
h3 {
  font-size: 2rem;
  font-family: 'Anton', sans-serif;
  margin: 2% 0 2% 0;
  padding: 2% 2% 2% 2%;
}
p {
  font-size: 1.6rem;
  font-family: 'Barlow', sans-serif;
}
.container {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container nav {
  background-color: #8B0000;
  color: white;
  font-family: 'Anton', sans-serif;
  padding: 5% 3% 5% 3%;
  display: flex;
  flex-flow: column nowrap;
  width: 20%;
  height: 99%;
  z-index: 999;
  position: fixed;
  justify-content: space-between;
}
.container nav a {
  padding-bottom: 15%;
  text-align: right;
  color: white;
  font-size: 2rem;
  display: block;
  text-decoration: none;
}
.container nav a:visited {
  text-decoration: none;
}
.container nav h1 {
  font-size: 3rem;
  margin: 0;
  color: darkred;
  background-color: white;
}
.container nav p {
  text-align: center;
}
.container .not-nav {
  width: 75%;
  margin-left: 35%;
  margin-right: 0;
}
.container .not-nav a {
  color: darkred;
  text-decoration: none;
}
.container .not-nav a:hover {
  color: darkred;
  text-decoration: underline;
}
.container .not-nav a:visited {
  color: darkred;
  text-decoration: none;
}
.container .top-nav h1 {
  text-align: center;
  margin: 5% 0 5% 0;
}
section i,
header i {
  font-size: 2rem;
}
section h2,
header h2 {
  font-size: 2rem;
  background-color: #8B0000;
  color: white;
  font-family: 'Anton', sans-serif;
}
section h3,
header h3 {
  font-size: 1.8rem;
}
section .content-row,
header .content-row {
  display: flex;
  justify-content: space-between;
}
section .content-row .box,
header .content-row .box {
  width: 30%;
  text-align: center;
}
section p,
header p {
  padding: 3%;
}
section #contact div,
header #contact div {
  width: 80%;
}
footer {
  margin: 2%;
  text-align: center;
}
