// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: 62.5%;
}



// my code starts here

h1,h2,h3,p,div,section,header,footer,img,i,{
	border: 1px solid gray;
}


@import url('https://fonts.googleapis.com/css?family=Anton|Barlow&display=swap');

@specialfont: 'Anton', sans-serif;
@normalfont: 'Barlow', sans-serif;

@tablet: 800px;
@mobile: 500px;

//mixin 
.row-between{
	display: flex;
	justify-content: space-between;
}

.topic{
	background-color: #8B0000;
	color: white;
	font-family: @specialfont;
}

h1,h2,h3 {
	font-size: 2rem;
	font-family: @specialfont;
	margin: 2% 0 2% 0;
	padding: 2% 2% 2% 2%;
}

p {
	font-size: 1.6rem;
	font-family: @normalfont;
}

//containers

.container{
	width: 65%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	
	nav{
		.topic();
		padding: 1% 3% 1% 3%;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		width: 20%;
		height: 99%;
		z-index: 999;
		position: fixed;
		justify-content: space-between;

		a {
			padding-top: 2%;
			padding-bottom: 2%;
			text-align: right;
			color: white;
			font-size: 2rem;
			display: block;
			text-decoration: none;
		}
		a:visited{
			text-decoration: none;
		}
	}// this closes nav
	.not-nav{
		width: 75%;
		margin-left: 35%;
		margin-right: 0;
	}// this closes not nav

	.top-nav{
		h1{
			text-align: center;
			margin: 5% 0 5% 0;
		}
		
	}

}//close container
	
section, header {
	i {
		font-size: 2rem;
	}

	h2{
		font-size: 2rem;
		.topic();
	}
	h3 {
		font-size: 1.8rem;
	}
	.content-row{
		.row-between();
	}
	p {
		padding: 3%;
	}
} // close section container

footer{
	margin: 2%;
	text-align: center;
}